.logo {
    font-size: 300%;
    background-color: white;
    width: 10em;
  }
  
  a.logo a, a.logo:visited {
    color: #3498DB;
  }
  
  .logo::before {
    content: url('/recursos/logo.png');
    height: 50px;
    width: auto;
  }
  